
body{
    background-image: url(C:\Users\Marcio\Documents\MeusProjetos\CursoCSS3\img\logo.png);
}


/********** Aula 21 *********
#exemplo{
    width: 200px;
    height: 200px;
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
#exemplo:hover{
    width: 350px;
    height: 350px;
    background-color: green;
}

/********** Aula 20 *********
#exemplo{
    border-style: inset;
    border-width: 5px;
    border-color: tomato;
    outline:solid 2px violet;
}
********** Aula 19 *********
#conteudo{
    width: 600px;
    height: 3200px;
    background-color: blue;
    position: relative;
}
#texto{
    width: 500px;
    background-color: yellowgreen;
    position: fixed; left: 0; top: 40px;
}
/********** Aula 18 *********
#base{
    background-color: green;
    height: 600px;
    width: 600px;
}
#esquerda{
    background-color: red;
    height: 300px;
    width: 300px;
    float: left;
}
#direita{
    background-color: blue;
    height: 300px;
    width: 300px;
    float: right;
}
/********** Aula 17 *********
#cores{
    width: 500px;
    height: 500px;
    background: radial-gradient(blue, green, yellow);
}
#cores{
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, blue, green, yellow);
}
/********** Aula 16 *********
#cores{
    width: 200px;
    height: 200px;
    background-color: hsl(20, 100%, 59% , 0.5);
}
/*********** AULA 05 *********
Seletores Classe(.)
.texto-principal{
    font-size: 1em;
    color: slategray;
    text-align: center;
}
.fundo-principal{
    background-color:green;
    padding: 40px;
}
#conteudo{
    background-color: blue;
    padding: 20px;
    color: white;
}
/************ AULA 02 e 03 *********
Asterico Seletor Universal
*{
    font-size: 100%;
    margin: 0;
    padding: 0;
}
Seletor tag
h1{
    color: blue;
    font-size: 50px;
}
Seletor Tag
p{
    color: green;
    font-size: 12px;
}
seletor[atributo="valor"]
input[type="text"]{
    width: 200px;
    background-color: #ccc;
    height: 35px;
    border: none;
}
seletor[atributo="valor"]
input[name="email"]{
    width: 200px;
    background-color: #ccc;
    height: 35px;
    border: none;
}
seletor[atributo="valor"]
input[value="Enviar"]{
    width: 50px;
    background-color: green;
    height: 35px;
    border: none;
    cursor: pointer;
    color: #fff;
}*/
/************ AULA 04 *********
    agrupamento de seletores
h1, h2, p{
    color: red;
    text-align: center;
}*/

/************ AULA 01 *********
h1{
    color: blue;
}*/